/* Size for brand */
nav.navbar {
    border-bottom: 4px;
}


/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
#playForm {
  visibility: hidden;
}