{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h3> Hello, {{ user.username }} here are your past results</h3>
        <table class="table table-bordered table-responsive">
            <thead class="table-light">
                <tr>
                    <th scope="col">Attempt number</th>
                    <th scope="col">Shuffled deck</th>
                    <th scope="col">Order recorded</th>
                    <th scope="col">Completed in (seconds)</th>
                    <th scope="col">Date of attempt</th>
                    <th scope="col">Accuracy %</th>
                </tr>
            </thead>
            <tbody>
                {% for attempt in attempts %}
                <tr>
                    <th>{{ loop.index }}</th>
                    <td>{{ attempt.deck_order | fromjson }}</td>
                    <td>{{ attempt.recall_order | fromjson }}</td>
                    <td>{{ "%.2f"|format(attempt.duration_seconds) }}</td>
                    <td>{{ attempt.created_at }}</td>
                    <td>{{ "%.2f"|format(attempt.accuracy) }}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
{% endblock %}