{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h3> Hello, {{ user.username }} here are your past results</h3>
        <table>
            <thead>
                <tr>
                    <th>Attempt number</th>
                    <th>Shuffled deck</th>
                    <th>Order recorded</th>
                    <th>Completed in (seconds)</th>
                    <th>Date of attempt</th>
                    <th>Accuracy</th>
                </tr>
            </thead>
            <tbody>
                {% for attempt in attempts %}
                <tr>
                    <td>{{ attempt.id }}</td>
                    <td>{{ attempt.deck_order | fromjson }}</td>
                    <td>{{ attempt.recall_order | fromjson }}</td>
                    <td>{{ "%.2f"|format(attempt.duration_seconds) }}</td>
                    <td>{{ attempt.created_at }}</td>
                    <td>{{ attempt.accuracy }}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
{% endblock %}